@mixin box {
  color: $color-light-brown;
  font-size: 67.5px;
  cursor: pointer;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
