// Colors
$color-black: #000000;
$color-black-grey: #3b434a;
$color-grey: #666666;
$color-light-grey: #929292;
$color-grey-white: #e6e6e6;

$color-white: #f5f4f4;
$color-pure-white: #ffffff;

$color-brown: #9d5852;
$color-light-brown: #bd7169;
