.about-section {
  background-color: $color-grey-white;
}

.about {
  @include flex-column;

  gap: 15px;
  text-align: center;
  padding: 60px 40px;

  &__content {
    grid-area: content;

    @include flex-column;
    gap: 20px;

    max-width: 900px;

    &-header {
      font-size: 3rem;
    }

    &-text {
      font-size: 1.95rem;
      font-family: $font-voll;
      line-height: 2;
    }
  }

  &__skills {
    grid-area: skills;

    @include flex-column;
    gap: 50px;

    position: relative;

    &-tools {
      display: flex;
      gap: 20px;
    }

    &-box-content {
      @include flex-column;
    }

    &-text {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  &__soon {
    @include flex-column;
    gap: 7.5px;

    &-container {
      @include flex;
      gap: 20px;
    }
    &-text {
      font-size: 1.5rem;
    }
  }

  &__logos {
    width: 60px;
    height: 60px;
  }

  &__box-close,
  &__box-open {
    @include box;
  }
}

////////////////////////////////

strong {
  color: $color-light-brown;
  font-weight: 700;
}

.toggle-wrapper {
  @include flex-column;
  gap: 25px;

  background-color: $color-white;
  padding: 35px 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075);
  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: bottom;
  transition: all 0.375s;
}

.down-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid $color-white;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: -25px;
}

.box-toggle {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.curly-arrow {
  position: absolute;
  transform: translate(-120px, -10px);
  transition: all 0.3s;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
