.contact {
  @include flex-column;
  gap: 10px;
  text-align: center;

  padding: 60px 0;
  background-color: $color-grey-white;
  @include responsive(tablet) {
    padding: 60px 20px;
    gap: 15px;
  }

  &__heading {
    @include sectionHeading;

    margin-bottom: 20px;
  }

  &__cv-text {
    @include sectionText;
    max-width: 950px;
  }

  &__link:link,
  &__link:visited {
    @include button;
    font-size: 1.95rem;
    padding: 9.5px 40px;
  }

  &__link:hover,
  &__link:active {
    background-color: $color-light-brown;
  }

  &__social-wrapper {
    font-size: 4rem;

    &-link {
      color: $color-brown;
      transition: all 0.3s;

      &:hover {
        color: $color-light-brown;
      }
    }

    @include flex;
    gap: 40px;

    &-fem {
      filter: brightness(75%);
      transition: all 0.3s;

      &:hover {
        filter: brightness(100%);
      }
    }
  }

  &__form-container {
    background-color: $color-darker-white;
    width: 750px;
    box-shadow: $box-shadow;
    border-radius: 15px;
    margin: 10px 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img form";

    @include responsive(tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "img"
        "form";

      max-width: 450px;
    }
  }

  &__form {
    grid-area: form;
    padding: 20px;

    gap: 5px;

    &-heading {
      font-size: 2.2rem;
      font-weight: 500;
    }

    &-group {
      @include flex-column;
    }

    &-label {
      opacity: 0;
      visibility: hidden;
    }

    &-input {
      font-family: $font-voll;
      color: $color-black-grey;
      font-size: 1.5rem;

      background-color: $color-grey-white;
      padding: 10px 12.5px;
      border-radius: 5px;
      border: none;
      outline: none;
      border-bottom: 2px solid transparent;
      width: 100%;
      transition: all 0.3s;

      &:focus {
        border-bottom: 2px solid $color-brown;
      }
    }

    &-textarea {
      resize: none;
      margin-bottom: 15px;
    }

    &-btn {
      @include button;

      border: none;
      width: 50%;
      font-family: inherit;

      @include responsive(tablet) {
        padding: 10px 13px;
      }

      &:hover {
        @include hoverUp;
        background-color: $color-light-brown;
        cursor: pointer;
      }

      &:active {
        transform: translateY(0);
      }
    }
  }

  &-img {
    grid-area: img;
    background-image: url("../../images/phone-mail.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 10%;
  }
}
