.hero-section {
  background-image: url("../../images/background-desktop-bottom.svg"),
    url("../../images/background-desktop-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(0% at 35% 30%);
}

.hero {
  @include flex-column;

  min-height: 100vh;
  padding: 125px 0 100px 0;

  &__img {
    height: 350px;

    visibility: hidden;
  }

  &__heading {
    font-size: 5rem;
    font-family: $font-voll;
    color: $color-black-grey;

    visibility: hidden;
  }

  &__arrow {
    font-size: 4rem;
    color: $color-grey;
    visibility: hidden;
  }
}
