.hero {
  background-image: url("../../images/background-desktop-bottom.svg"),
    url("../../images/background-desktop-top.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include flex-column;

  min-height: 95vh;

  &__img {
    height: 375px;

    visibility: hidden;
  }

  &__heading {
    font-size: 4.5rem;
    font-family: $font-voll;
    color: $color-black-grey;

    visibility: hidden;
  }
}

.arrow {
  font-size: 4rem;

  visibility: hidden;
}
