.mobile-nav-btn {
  background: none;
  border: none;
  color: $color-pure-white;
  cursor: pointer;
  z-index: 99;

  display: none;

  @include responsive(tablet-bp-2) {
    display: block;
    visibility: hidden;
  }
}

.mobile-nav-icon {
  font-size: 3.5rem;
  @include responsive(tablet-bp-4) {
    font-size: 3rem;
  }
  @include responsive(mobile-large) {
    font-size: 2.5rem;
  }
}
