.projects-section {
  background-image: url('../../images/background-project.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include responsive(medium-laptop) {
    background-image: url('../../images/background-mobile-project.svg');
  }

  @include flex-column;
  gap: 50px;

  padding: 60px 0;

  @include responsive(tablet-bp-1) {
    padding: 60px 20px;
  }

  @include responsive(mobile-large) {
    padding: 30px 20px;
  }

  &__heading-wrapper {
    @include flex-column;
    gap: 10px;
  }

  &__heading {
    @include sectionHeading;
  }

  &__subhead {
    @include sectionText;
    text-align: center;
  }
}

////
///

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  grid-template-areas:
    'project-1 project-2'
    'project-3 project-4'
    'project-5 project-6';

  @include responsive(medium-laptop) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'project-1'
      'project-2'
      'project-3'
      'project-4'
      'project-5'
      'project-6';
  }

  &__card {
    max-width: 450px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: $box-shadow;
    background-color: $color-darker-white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    grid-template-areas:
      'img'
      'cont';

    &-1 {
      grid-area: project-1;
    }
    &-2 {
      grid-area: project-2;
    }
    &-3 {
      grid-area: project-3;
    }
    &-4 {
      grid-area: project-4;
    }
    &-5 {
      grid-area: project-5;
    }
    &-6 {
      grid-area: project-6;
    }

    &-img {
      grid-area: img;
    }

    &-img1,
    &-img2,
    &-img3,
    &-img4,
    &-img5 {
      object-fit: cover;
      max-width: 100%;
    }

    &-img-wrapper-6 {
      @include flex;
    }

    &-img6 {
      max-width: 70%;
    }

    &-content {
      grid-area: cont;
      padding: 27.5px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      @include responsive(tablet-bp-4) {
        padding: 17.5px;
      }
    }

    &-heading {
      font-size: 2.2rem;
      font-weight: 600;
      letter-spacing: 1.1px;
      border-bottom: 2px solid rgba($color-brown, 0.25);
      align-self: flex-start;

      @include responsive(tablet-bp-4) {
        font-size: 1.75rem;
      }
      @include responsive(mobile-large) {
        font-size: 1.45rem;
      }
    }

    &-summary {
      font-size: 1.5rem;
      line-height: 1.75;
      font-family: $font-voll;
      color: $color-grey;

      @include responsive(tablet-bp-4) {
        font-size: 1.3rem;
      }
      @include responsive(mobile-large) {
        font-size: 1.15rem;
      }
    }
  }

  &__link-wrapper {
    font-size: 1.5rem;
    display: flex;
    gap: 15px;

    @include responsive(tablet-bp-3) {
      font-size: 1.3rem;
      flex-direction: column;
      text-align: center;
    }

    @include responsive(mobile-large) {
      font-size: 1.15rem;
    }

    &-live:link,
    &-live:visited,
    &-github:link,
    &-github:visited {
      @include button;
    }

    &-live:hover {
      background-color: $color-light-brown;
      @include hoverUp;
    }

    &-github:link,
    &-github:visited {
      background-color: $color-grey;
      color: $color-pure-white;
    }

    &-github:hover {
      background-color: $color-black-grey;
      @include hoverUp;
    }

    &-github:active,
    &-live:active {
      transform: translateY(0);
    }

    &-fem {
      font-size: 1.5rem;
      color: $color-brown;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.3s;

      @include responsive(mobile-large) {
        font-size: 1.3rem;
      }

      &:hover {
        color: $color-light-brown;
      }
    }
  }

  &-github-logo,
  &-arrow-logo {
    margin-left: 5px;
  }
}

.hidden {
  visibility: hidden;
}
