.projects-section {
  background-image: url("../../images/background-project.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include flex-column;
  gap: 50px;

  padding: 60px 0;

  &__heading-wrapper {
    @include flex-column;
    gap: 10px;
  }

  &__heading {
    @include sectionHeading;
  }

  &__subhead {
    font-size: 1.95rem;
    font-family: $font-voll;

    font-style: italic;
  }
}

////
///

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  grid-template-areas:
    "project-1 project-2"
    "project-3 project-4";

  &__card {
    max-width: 450px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: $box-shadow;
    background-color: $color-darker-white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "img"
      "cont";

    &-1 {
      grid-area: project-1;
    }
    &-2 {
      grid-area: project-2;
    }
    &-3 {
      grid-area: project-3;
    }
    &-4 {
      grid-area: project-4;
    }

    &-img {
      grid-area: img;
      filter: grayscale(12.5%);

      transition: all 0.3s;

      &:hover {
        filter: grayscale(0);
      }
    }

    &-img1 {
      background-image: url("../../images/sunnyside-desktop.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
    // &-img2 {
    // }
    // &-img3 {
    // }

    &-img-wrapper-4 {
      @include flex;
    }

    &-img4 {
      max-width: 450px;
      max-height: 200px;
    }

    &-content {
      grid-area: cont;
      padding: 27.5px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }

    &-heading {
      font-size: 2.2rem;
      font-weight: 600;
      letter-spacing: 1.1px;
      border-bottom: 2px solid rgba($color-brown, 0.25);
      align-self: flex-start;
    }

    &-summary {
      font-size: 1.5rem;
      line-height: 1.75;
      font-family: $font-voll;
      color: $color-grey;
    }
  }

  &__link-wrapper {
    font-size: 1.5rem;
    display: flex;
    gap: 15px;

    &-live:link,
    &-live:visited,
    &-github:link,
    &-github:visited {
      @include button;
    }

    &-live:hover {
      background-color: $color-light-brown;
      @include hoverUp;
    }

    &-github:link,
    &-github:visited {
      background-color: $color-grey;
      color: $color-pure-white;
    }

    &-github:hover {
      background-color: $color-black-grey;
      @include hoverUp;
    }

    &-github:active,
    &-live:active {
      transform: translateY(0);
    }

    &-fem {
      font-size: 1.5rem;
      color: $color-brown;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: $color-light-brown;
      }
    }
  }
}
